.cardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.card {
  position: relative;
  width: 90vw;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.date {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: white;
  text-transform: uppercase;
}

.windStatus {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}
.windContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.windContainer .wind {
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
}

.directionContainer {
  display: flex;
  gap: 1rem;
}

.cardContainer::before {
  width: 6rem;
  height: 6rem;
  content: "";
  position: absolute;
  left: 220px;
  top: 40px;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  transition: all 1s;
}

.cardContainer:hover::before {
  transform: translate(-160px, 70px);
}

#compass {
  width: 20px;
  height: 20px;
  background-image: url("compass.png"); /* Replace with your own compass image */
  position: relative;
}

#arrow {
  width: 4px;
  height: 8px;
  background-color: red; /* Replace with your own arrow color */
  position: absolute;
  top: 40px;
  left: 90px;
  transform-origin: bottom center;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}
