.main {
  background-color: var(--clr-main);
  min-height: 100vh;
}

.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.main .container .containerNavbarInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .container .iconClima {
  width: 9rem;
  max-height: 9rem;
}

.main .container .containerTemp {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.main .container .containerTemp .temp {
  font-size: 4rem;
  font-weight: 600;
}

.main .container .containerTemp .celsius {
  color: var(--clr-grayTwo);
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.main .container .climaText {
  font-weight: 500;
  font-size: 1rem;
  color: var(--clr-grayTwo);
}

.main .container .containerMaxMin {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

.main .container .containerFeelsLike {
  background-color: var(--clr-two);
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
  width: 90%;
}
.main .container .feelsLike {
  font-size: 0.8rem;
}

.main .container .containerData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.main .container .containerData .data {
  color: var(--clr-grayOne);
  font-weight: 600;
  font-size: 0.8rem;
}

.main .container .containerData .location {
  color: var(--clr-grayOne);
  font-weight: 600;
  font-size: 0.8rem;
}

.main .container .containerTempIcon {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/**  css si apiData es null **/

.main .containerNull {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.main .containerNull .titleEnterCity {
  padding: 1rem;
  background-color: var(--clr-two);
  border-radius: 10px;
  font-size: 1.5rem;
}

.main .containerNull .titleEnterCity .iconEnterCity {
  font-size: 1.5rem;
}
