.footer {
  background-color: var(--clr-two);
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer .containerFooter {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.footer .containerFooter .name {
  font-weight: 600;
  text-decoration: underline;
}

.footer .link {
  padding-bottom: 1rem;
}
